@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fafafa;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "BRINeueFaceRegular";
  src: url("/fonts/BRINeueFaceRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BRINeueFaceBold";
  src: url("/fonts/BRINeueFaceBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Blanquotey";
  src: url("/fonts/Blanquotey.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JakartaSansRegular";
  src: url("/fonts/PlusJakartaSansRegular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
}
